<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="../static/images/icon.png?{{ cache_id }}">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
		<link rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}">
		<link rel="stylesheet" type="text/css" href="../static/styles/common.css?{{ cache_id }}">
		<link rel="stylesheet" type="text/css" href="../static/styles/filter.css?{{ cache_id }}">
		<link rel="stylesheet" type="text/css" href="../static/styles/videos.css?{{ cache_id }}">
		<title>AudioTube</title>
	</head>
	<body>
		<header id="header">
			    <nav class="navbar non">
				<ul class="links">
				  <li><a class="active">App</a></li>
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('home') }}#about">About</a></li>
					<li><a href="{{ url_for('home') }}#content">Content</a></li>
					<li><a href="{{ url_for('home') }}#connect">Connect</a></li>
				</ul>
			</nav>
			<button class="menu">
			</button>
		</header>
		<div class="container">
			<section class="filter">
				<div class="tags">
					<ul>
						<li class="def" data="{{ videos }}"><h4>All</h4></li>
						<li id="10"><h4>Music</h4></li>
						<li id="24"><h4>Podcasts</h4></li>
						<li id="27"><h4>E-books</h4></li>
					</ul>
				</div>
				<div class="exit"></div>
				<form class="search" id="searchInput">
					<input type="text" name="search" placeholder="Search AudioTube" class="input" value="" required>
					<button type="submit" class="icon-button" ></button>
				</form>
				<img src="../static/images/search.png?{{ cache_id }}" class="ser" id="searchBtn" />
			</section>
			<section class="load">
				<img src="../static/images/Rolling.gif?{{ cache_id }}" height=80/>
			</section>
			<section class="videos">
			</section>
		</div>
		<script src="../static/js/audioT.js?{{ cache_id }}"></script>
	</body>
</html>
