<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" href="../static/images/icon.png">
    	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      	<link rel="stylesheet" href="../static/styles/main.css">
    	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>AudioTube</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex" href="#">
      <img src="../static/images/logo.png" height="30px"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item p-lg-3">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item p-lg-3">
          <a class="nav-link" aria-current="page" href="#about">About</a>
        </li>
        <li class="nav-item p-lg-3">
          <a class="nav-link" aria-current="page" href="#content">Content</a>
        </li>
        <li class="nav-item p-lg-3">
          <a class="nav-link" aria-current="page" href="#connect">Connect me</a>
        </li>
        <li class="nav-item p-lg-3">
          <a class="nav-link" aria-current="page" href="{{ url_for('audioTube') }}">App</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>
    <div class="landing d-flex flex-column justify-content-center" id="home">
      <div class="home text-center p-4">
            <img src="../static/images/listen.png" width="60%" class="img-fluid"/>
      <h1 class="mt-4">AudioTube</h1>
      <h3 class="fs-5 mb-4">Your Gateway to Audio Bliss</h3>
      <a class="btn rounded-pill btn-primary main-btn" href="{{ url_for('audioTube') }}">Try it now</a>
      </div>
      <div class="about text-center p-4" id="about">
            <img src="../static/images/music.png" width="60%" class="img-fluid pt-4 mt-4"/>
            <h3 class="fs-5 mt-4">Stream YouTube Audio Like a Champ</h3>
      <p class="fs-7 w-auto text-wrap">
        <b>I used to watch YouTube videos just to listen to the audio</b> like music, podcasts, and audiobooks. But with the high cost and slow speed of the internet in my country, it was a pain in the neck and a waste of money. So AudioTube is here to save the day! This app lets you stream/download YouTube videos as audio directly, <b>without downloading the whole video.</b> Talk about saving internet data, storage space and works like a charm even with a weak internet connection.
      </p>
      </div>
       <div class="catagories" id="content">
        <div class="main tag1" style="dispaly: block;">
          <img src="../static/images/main.jpg" />
          <div class="describe">
              <h4>🎧  Enjoy YouTube Content Without the Video</h4><p>AudioTube is a revolutionary app that lets you experience YouTube content in a whole new way.</p>
              </div>
        </div>
       <div class="main tag2" style="display: none;">
        <img src="../static/images/play.jpg" />
          <div class="describe">
              <h4>🎧  Everything on YouTube, at your fingertips</h4><p>Access all the content you love, without the distractions by search for it.</p>
              </div>
        </div>
        <div class="main tag3" style="display: none;">
        <img src="../static/images/options.jpg" />
          <div class="describe">
              <h4>🎧  With a single tap.</h4><p>Just tap on the image container and you'll see the options for playing and downloading audios.</p>
              </div>
        </div>
        <div class="main tag4" style="display: none;">
        <img src="../static/images/search.jpg" />
          <div class="describe">
              <h4>🎧  No video, just audio.</h4><p>Stream your favorite music, podcasts, and audiobooks even on slow internet connections without wasting internet data or storage space.</p>
              </div>
        </div>
        <div class="main tag5" style="display: none;">
        <img src="../static/images/download.jpg" />
          <div class="describe">
              <h4>🎧 Say goodbye to YouTube buffering.</h4><p>Download YouTube videos as video or audio in the format and quality you want.</p>
              </div>
        </div>
      <h3><li class="left"></li></h3>
      <h3><li class="right hide"></li></h3>
        <div class="circle">
    <h3><li class="dot1"></li></h3>
    <h3><li class="dot2"></li></h3>
    <h3><li class="dot3"></li></h3>
    <h3><li class="dot4"></li></h3>
    <h3><li class="dot5"></li></h3>
    </div>
      </div>
            <div class="connect" id="connect">
        <h2 style="margin-left: 10px;">Connect me</h2>
        <div class="social">
        <h3>SOCIAL MEDIA</h3>
        <a href="https://www.facebook.com/abdulrahman.alidrisy"><p>Facebook</p></a>
        <a href="https://twitter.com/AbdulrahmanAdeb"><p>Tweeter</p></a>
        <a href="https://www.linkedin.com/in/abdulrahman-alidrisy-7940b8271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><p>LinkedIn</p></a>
        </div>
        <div class="social">
        <h3>Others</h3>
        <a href="mailto:a.alidrisy6@gmail.com"><p>Email</p></a>
        <a href="https://github.com/alidrisy"><p>Githup Account</p></a>
        <a href="https://github.com/alidrisy/AudioTube"><p>Source Code</p></a>
        </div>
      <footer>
  <div>
    <p>Copyright © 2023 Abdulrahman Alidrisy</p>
    <p>All rights reserved.</p>
  </div>
</footer>
</div>
      
    </div>
      <script>
      $(document).ready(function(){
       'use strict';
    let i = 1;
   $('LI.left').click(function () {
     if (i === 5) return;
     $(this).fadeOut(100);
     $(this).fadeIn(300);
     $(`LI.dot${i}`).css('list-style', 'circle');
     $(`DIV.tag${i}`).animate({opacity: 'hide', width: 'hide'}, 'slow');
     i += 1;
     $(`LI.dot${i}`).css('list-style', 'disc');
     $(`DIV.tag${i}`).animate({opacity: 'show', width: 'show'}, 'slow');
     $(`IMG.im${i - 1}`).fadeOut(400, function () {
       $(`IMG.im${i}`).fadeIn(500);
     });
     
   });
   
   $('LI.right').click(function () {
     if (i === 1) return;
     $(this).fadeOut(100);
     $(this).fadeIn(200);
     $(`LI.dot${i}`).css('list-style', 'circle');
     $(`DIV.tag${i}`).animate({opacity: 'hide', width:'hide'}, 'slow');
     i -= 1;
     $(`LI.dot${i}`).css('list-style', 'disc');
     $(`DIV.tag${i}`).animate({opacity: 'show', width: 'show'}, 'slow');
     $(`IMG.im${i + 1}`).fadeOut(400, function () {
       $(`IMG.im${i}`).fadeIn(500);
     });
   });
});
</script>
  </body>
</html>
