*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #e5e5e5;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}


.load {
  margin-top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}