header {
  width: 100%;
  min-height: 60px;
  background: #1c1917;
  color: white;
  background-image: url("../images/logo.png");
  background-size: 120px;
  background-position: 5px 15px;
  background-repeat: no-repeat;
  position: relative;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar ul {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 60px;
 width: 550px;
 padding: 0;
 margin: 0;
}
button.menu {
  display: none;
}
.navbar a {
 color: white;
 text-align: center;
 text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a.active {
 color: #33FF99;
}
.navbar ul {
  list-style: none;
}

/* Responsive Navbar */
@media screen and (max-width: 600px) {
 .navbar ul {
    flex-direction: column;
    height: 250px;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 20px;
 }
 nav.non {
   display: none;
 }
  
 .navbar a {
    text-align: left;
    padding: 10px 10px;
    font-size: 15px;
    
 }
 button.menu {
   display: block;
   background: Transparent;
   padding: 5px;
   border: 1px solid white;
   border-radius: 5px;
   text-align: center;
   height: 40px;
   width: 50px;
   background-image: url("../images/menu.png");
   background-size: 25px;
   background-repeat: no-repeat;
   background-position: center 10px;
   position: absolute;
   right: 10px;
   top: 10px;
   outline: none;
 }
}
