*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 500px;
  background-color: white;
  color: #484848;
  text-decoration: none;
}
header nav a {
  color: #484848;
  text-decoration: none;
}
 
.home {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px;
  background-image: url('../images/back1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-clip: padding-box;
  background-origin: border-box;
}

.home .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.home .logo img {
  width: 12%;
}
.home .logo h3 {
  font-size: 5.5vw;
  text-align: center;
  padding: 0 10px;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 600px) {
  .home .logo img {
  width: 10%;
}
}
.home .title {
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
}
.home .title h1 {
  font-family: Georgia, serif;
  font-size: 10vw;
  text-align: left;
 }
 .home .title h2 {
   font-size: 6vw;
   text-align: right;
 }

.home img.imag {
  width: 80%;
  padding: 0 20px 20px 20px;
}
.home button {
  padding: 20px;
  border-radius: 30px;
  color: #484848;
  width: 150px;
  background-color: white;
  border: none;
  margin-top: 10px;
  outline: none;
}

.home a {
  color: #484848;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
 .about {
   display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
  background-image: url('../images/back.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-clip: padding-box;
  background-origin: border-box;
}
 .about h2 {
  font-size: 200%;
  padding: 1% 0 0 10%;
}

.about img {
  width: 80%;
  padding-top: 20px;
  border-bottom-right-radius: 100px;
  border: 1px solid white;
}
.about .cont {
  width: 80%;
}
.about .cont h3 {
  padding-top: 30px;
  font-size: 20px;
}

.about .cont p {
  padding-top: 15px;
  font-size: 13px;
}


.catagories {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
  min-height: 680px;
  background-image: url('../images/back1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  position: relative;
}

.catagories .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 470px;
  width: 300px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 12px;
}
.catagories .tag1, .tag3 .tag4, .tag5 {
  
}
.catagories .main img {
  height: 320px;
  border-top-right-radius: 20px;
}

.catagories .main  p {
  padding-top: 7px;
  width: 260px;
  padding-left: 10px;
}
.catagories .main h4 {
  font-size: 13px;
  width: 280px;
}

.catagories .circle {
  display: flex;
  position: absolute;
  bottom: 50px;
}

.circle li {
  color: black; 
  padding-left: 20px;
  list-style: circle;
  font-size: 20px;
  padding-top: 5px;
}

.circle li.dot1 {
  list-style: disc;
}

 li.left {
 list-style: none;
 background-image: url('../images/left.png');
 background-size: 15px;
 background-position: center;
 background-repeat: no-repeat;
 padding-left: 47.5px;
 height: 20px;
 position: absolute;
 right: 10px;
}

 li.right {
 list-style: none;
 background-image: url('../images/right.png');
 background-size: 15px;
 background-position: center;
 background-repeat: no-repeat;
 padding-left: 47.5px;
 line-height: 5px;
 height: 20px;
 position: absolute;
 left: 10px;
}

.connect {
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  background-image: url('../images/back.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  position: relative;
}

.connect .social {
  width: 100%;
  text-align: left;
  padding: 50px;
  margin-top: 20px;
}
.connect .social  h3 {
  font-family: system-ui;
}
.connect .social a {
  font-family: system-ui;
  font-size: 15px;
  color: #484848;
  text-decoration: none;
}
.connect .social p {
  padding-top: 12px;
  padding-left: 4px;
}

footer {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-size: auto;
  background-repeat: no-repeat;
}
